<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>add new user data</title>
</head>
<body>
  <h1> new table create user data!</h1><br>
  <form method="post" action="/user/add">
 <input type="text" name="username" placeholder="enter the user nane"><br><br>
  <input type="email" name="email" id="" placeholder="enter the email"><br><br>
 <button>submit data</button>
  </form>
</body>
</html>